/* ImageModal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-icon, .enlarge-icon {
    cursor: pointer;
    color: #333;
}

.close-icon:hover, .enlarge-icon:hover {
    color: #e74c3c; /* Change color on hover */
}
